In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go

%config InlineBackend.figure_format = "retina"

In [2]:
column_names = ["user_id", "item_id", "rating", "timestamp"]

df = pd.read_csv(
    "/Users/ramin/.surprise_data/ml-100k/ml-100k/u.data", sep="\t", names=column_names
).drop(columns="timestamp")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  100000 non-null  int64
 1   item_id  100000 non-null  int64
 2   rating   100000 non-null  int64
dtypes: int64(3)
memory usage: 2.3 MB

In [4]:
df.describe().T

            count       mean         std  min    25%    50%    75%     max
user_id  100000.0  462.48475  266.614420  1.0  254.0  447.0  682.0   943.0
item_id  100000.0  425.53013  330.798356  1.0  175.0  322.0  631.0  1682.0
rating   100000.0    3.52986    1.125674  1.0    3.0    4.0    4.0     5.0

In [5]:
df.isnull().sum()

user_id    0
item_id    0
rating     0
dtype: int64